.college{
    text-align: center;
    margin: 0 auto;
}


    .row{
        margin: 0 auto !important;
    }
    .col{
        margin: 0 auto !important;
    }

.college-cards{
    margin: 0 auto;
}   